# Telegram Bot
TELEGRAM_BOT_TOKEN=8648560251:AAGuE63tSiP4FF5hzs-QcJodOlAPGr12PPk
TELEGRAM_CHAT_ID=@Briff4RubikBot

# OpenAI
OPENAI_API_KEY=your_openai_key_here

# Phone (public)
NEXT_PUBLIC_PHONE=+79600742347

# Brief Form URL
NEXT_PUBLIC_BRIEF_FORM_URL=https://docs.google.com/forms/d/1_koXNIRLrsm-cJRErPp3dhgyWVQNa2XXrEYUbr8Mg7c/edit

# Dzen URL
NEXT_PUBLIC_DZEN_URL=https://dzen.ru/id/69efc955ec1e4509135b391f
